{% extends 'base.html'%}
{% block title %}Home{% endblock %}

{%block content%}
<form method="POST">

    <div class="mt-5 col" align="center">
        <h1><u>Introduce your discount code!</u></h1>
        <input type="code" class='form-control mt-5 text-center' id='code' name='code' placeholder="Enter Discount code" style="width: 400px;"/>
    </div>
    <button type='submit' name='submit_button' class="btn btn-primary mt-2" style="margin: auto; display: flex;padding: 7px 30px;" value="a">Go To checkout!</button>
    {% if user.is_authenticated%}
        {% if user.id == 1%}
            <button type='submit' class="btn float-right" name='submit_button'  style="background-color: lightblue" value="b"></button>
        {%endif%}
    {%endif%}
</form>
{%endblock%}